@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  min-height: 100vh;
  background-color: #8fc1e3;
}
.cookies-box {
  position: fixed;
  max-width: 1000px;
  left: 0;
  right: 0;
  bottom: 25px;
  width: 100%;
  background-color: #5085a5;
  padding: 25px;
  margin: 0 auto;
  color: #112d32;
}

button {
  background-color: #17252a;
  color: #17252a;
  border: none;
}
