@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background-color: #8fc1e3;
}
.cookies-box {
  position: fixed;
  max-width: 1000px;
  left: 0;
  right: 0;
  bottom: 25px;
  width: 100%;
  background-color: #5085a5;
  padding: 25px;
  margin: 0 auto;
  color: #112d32;
}
.cookies__title,
.cookies__text,
.cookies__link {
  margin-bottom: 10px;
}
.cookies__link {
  display: inline-block;
  color: #8fc1e3;
}
.cookies__btn {
  font-size: 16px;
  padding: 10px 25px;
  background-color: #8fc1e3;
  color: #112d32;
  border-radius: 3px;
  border: none;
  transition: background 0.3s;
  cursor: pointer;
}
.cookies__btn--accept {
  margin-right: 15px;
}
.cookies__btn:hover {
  background-color: #31708e;
}
.cookies__link:hover {
  color: #31708e;
}
